body2 {
    margin: 0;
    padding: 0;
    position: relative;
    background-image: url('images/c.jpg');
    background-repeat:no-repeat;
    background-size: cover;
  }
  
  .log-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-bottom: 10px;
    width: 600px;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .log-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 0px;
  }
  
  .log-text{
    color:blueviolet;
    font-size: 48px;
    font-weight: 700;
  }
  
  .log-underline{
    width: 61px;
    height: 6px;
    
    border-radius: 9px;
  }
  
  .log-inputs{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .log-input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
  }
  
  .input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
  }
  
  .log-pass{
    padding-right: 250px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
  }
  
  .log-pass span{
    color: #4b0fac;
    cursor: pointer;
    padding-left: 150px;
    display: inline-block;
    padding: 5px 10px;
    margin-left: 0px;
  }
  
  .submit-con{
    display: flex;
    gap: 30px;
    margin: 20px auto;
  }
  
  .submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #4b0fac;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
  }
  
  .gray{
    background: #eaeaea;
    color: #af0b0b;
  }
  
  .log-img{
    margin: 0px 30px;
  }
  
  .log-bg{
    
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    height: 100vh;
  }